[submodule "add-ids-to-header-tags"]
	path = add-ids-to-header-tags
	url = https://github.com/georgestephanis/add-ids-to-header-tags
[submodule "automatic-internal-links"]
	path = automatic-internal-links
	url = https://github.com/georgestephanis/automatic-internal-links
[submodule "custom-content-width"]
	path = custom-content-width
	url = https://github.com/georgestephanis/Custom-Content-Width
[submodule "legacy-jetpack-custom-css-editor"]
	path = legacy-jetpack-custom-css-editor
	url = https://github.com/georgestephanis/legacy-jetpack-custom-css-editor
[submodule "omnisearch"]
	path = omnisearch
	url = https://github.com/georgestephanis/omnisearch
[submodule "random-blocks"]
	path = random-blocks
	url = https://github.com/georgestephanis/random-blocks
[submodule "restrict-block-content"]
	path = restrict-block-content
	url = https://github.com/bethinkstudio/restrict-block-content
[submodule "reusable-block-count"]
	path = reusable-block-count
	url = https://github.com/georgestephanis/Reusable-Block-Count
[submodule "tarot"]
	path = tarot
	url = https://github.com/georgestephanis/tarot
[submodule "theme-downloader"]
	path = theme-downloader
	url = https://github.com/georgestephanis/theme-downloader
[submodule "tuft-feedback"]
	path = tuft-feedback
	url = https://github.com/georgestephanis/tuft
[submodule "404-not-available"]
	path = 404-not-available
	url = https://github.com/georgestephanis/404-not-available
[submodule "secret-santa"]
	path = secret-santa
	url = https://github.com/georgestephanis/secret-santa
[submodule "blocks-against-wp"]
	path = blocks-against-wp
	url = https://github.com/georgestephanis/blocks-against-wp
[submodule "short"]
	path = short
	url = https://github.com/georgestephanis/short
[submodule "object-cache-flusher-button"]
	path = object-cache-flusher-button
	url = https://github.com/georgestephanis/object-cache-flusher-button
[submodule "snowfall"]
	path = snowfall
	url = https://github.com/georgestephanis/snowfall
[submodule "chat-room-redux"]
	path = chat-room-redux
	url = https://github.com/georgestephanis/chat-room-redux
[submodule "wp-admin-css-editor"]
	path = wp-admin-css-editor
	url = https://github.com/georgestephanis/wp-admin-css-editor
[submodule "support-widget"]
	path = support-widget
	url = https://github.com/georgestephanis/support-widget
[submodule "domain-restricted-registration"]
	path = domain-restricted-registration
	url = https://github.com/georgestephanis/domain-restricted-registration
[submodule "daily-digest"]
	path = daily-digest
	url = https://github.com/georgestephanis/daily-digest
[submodule "t3admin"]
	path = t3admin
	url = https://github.com/georgestephanis/t3admin
[submodule "connector-priority"]
	path = connector-priority
	url = https://github.com/georgestephanis/connector-priority
[submodule "ai-provider-for-openai-compatible-servers"]
	path = ai-provider-for-openai-compatible-servers
	url = https://github.com/georgestephanis/ai-provider-for-openai-compatible-servers
