.postbox .inside {padding:10px;}
table.form-table div.postbox,
table.form-table .widefat {max-width:450px;}
a.add-link 			{display:inline-block;width:24px;height:24px;background:url('../img/+.png')     50% 50% no-repeat;text-indent:-5000px;overflow:hidden;}
a.edit-link 		{display:inline-block;width:24px;height:24px;background:url('../img/edit.png')  50% 50% no-repeat;text-indent:-5000px;overflow:hidden;}
a.delete-link 		{display:inline-block;width:24px;height:24px;background:url('../img/x.png')     50% 50% no-repeat;text-indent:-5000px;overflow:hidden;}
a.mail-link 		{display:inline-block;width:24px;height:24px;background:url('../img/mail.png')  50% 50% no-repeat;text-indent:-5000px;overflow:hidden;}
span.item-active 	{display:inline-block;width:24px;height:24px;background:url('../img/check.png') 50% 50% no-repeat;text-indent:-5000px;overflow:hidden;}
span.item-inactive 	{display:inline-block;width:24px;height:24px;background:url('../img/-.png')     50% 50% no-repeat;text-indent:-5000px;overflow:hidden;}
td.priority-Critical 	{color:#f00; font-weight:900; font-size:1.2em; background-color:#fdd;}
td.priority-High 		{color:#a00; font-weight:700; font-size:1.1em;}
td.priority-Normal 		{color:#600;}
td.priority-Low 		{color:#300;}
td.priority-Trivial 	{color:#000;}

tr.paid-in-full {background-color:#585; color:#eee;}
tr.paid-in-full.alternate {background-color:#474;}
