#NDIZI-CONTENT-WRAPPER {}
#NDIZI-CONTENT-WRAPPER table {border:0; width:auto; border-radius:12px;}
#NDIZI-CONTENT-WRAPPER table.widefat {border:1px solid #888; width:100%;}
#NDIZI-CONTENT-WRAPPER table thead {border:0; background-color:#444;}
#NDIZI-CONTENT-WRAPPER table thead tr {border:0;}
#NDIZI-CONTENT-WRAPPER table thead tr th {border:0; color:#eee;}
#NDIZI-CONTENT-WRAPPER table tfoot {border:0; background-color:#444;}
#NDIZI-CONTENT-WRAPPER table tfoot tr {border:0;}
#NDIZI-CONTENT-WRAPPER table tfoot tr th {border:0; color:#eee;}
#NDIZI-CONTENT-WRAPPER table tbody {border:0;}
#NDIZI-CONTENT-WRAPPER table tbody tr {border:0; background-color:#fff;}
#NDIZI-CONTENT-WRAPPER table tbody tr.alternate {border:0; background-color:#eee;}
#NDIZI-CONTENT-WRAPPER table tbody tr th {border:0; font-size:.9em;}
#NDIZI-CONTENT-WRAPPER table tbody tr td {border:0; font-size:.9em;}
#NDIZI-CONTENT-WRAPPER table tbody tr td.description p {margin:0; padding:0;}
#NDIZI-CONTENT-WRAPPER div.ndizi-project {padding-left:20px;}


#NDIZI-INVOICE {border:1px solid #000; background-color:#fff; padding:5%;}
#NDIZI-INVOICE h2.invoice-name {float:left;}
#NDIZI-INVOICE table.invoice-details {float:right;}
#NDIZI-INVOICE h3.submitted-to {clear:both;}

